.app {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #332940;
  color: #fff;
  border-radius: 10px;
}