.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col + .col {
  margin: 6rem 7rem;
}

@media (min-width: 900px) {
  .container {
      height: 100vh;
      width: 100vw;
  }
  .row {
      flex-direction: row;
  }
}