*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.8%;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: #313552;
    position: relative;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

span {
  margin: 0 3rem;
  display: inline-block;
}